# Git
.git
.gitignore

# Docker
.dockerignore
Dockerfile
docker-compose.yml

# Python
.venv
venv/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/

# Environment Variables
.env
.env.*
*.env

# VS Code
.vscode/
.idea/

# Testing
.pytest_cache/
.coverage
htmlcov/
*.cover

# README and docs
README.md
*.md
docs/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Scraping not needed within container
scraping.ipynb